<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7">
            <form class="form-inline">
                <div class="form-group mb-4">
                    <label for="busqueda" class="ml-2">Buscar: </label>
                    <input type="text" id="busqueda" #search class="form-control form-control-sm ml-2">
                    <button class="btn btn-success btn-sm ml-2" (click)="buscarCliente(search.value)">Buscar</button>
                </div>
            </form>
            <button class="btn btn-success btn-block mb-4" (click)="generarXLSX()">Generar XLSX</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <table class="table table-sm table-bordered shadow">
                <thead class="bg-table text-white text-center">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">A_Paterno</th>
                        <th scope="col">A_Materno</th>
                        <th scope="col">Tel</th>
                        <th scope="col">RFC</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let cliente of resultListClientes; let i = index">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{cliente.nombre}}</td>
                        <td>{{cliente.a_paterno}}</td>
                        <td>{{cliente.a_materno}}</td>
                        <td>{{cliente.telefono}}</td>
                        <td>{{cliente.rfc}}</td>
                        <td>
                            <button id="btnTool" class="btn bg-info" (click)="mostrarMapDiv(this.i)"><i
                                    class="fas fa-map-marker-alt text-white"></i></button>
                            <button class="btn btn-success" (click)="mostrarFormDiv(this.i)"><i
                                    class="fas fa-edit text-white"></i></button>
                            <button class="btn btn-danger" (click)="eliminarCliente(this.i)"><i
                                    class="fas fa-trash text-white"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="border-radius: 20px;" class="col-sm-4 bg-white shadow ml-5 p-3">

            <!-- FORMULARIO -->
            <div style="display: none;" id="formulario">
                <h1 class="text-center text-uppercase mt-2">Modificar Datos</h1>
                <hr>


                <form>
                    <!-- NOMBRE -->
                    <div class="form-group">
                        <label for="nombreCliente">Nombre</label>
                        <input type="text" id="nombreCliente" class="form-control form-control-sm">
                    </div>

                    <!-- APELLIDOS -->
                    <div class="form-group">
                        <label for="a_paternoCliente">Apellido Paterno</label>
                        <input type="text" id="a_paternoCliente" class="form-control form-control-sm">
                    </div>
                    <div class="form-group">
                        <label for="a_maternoCliente">Apellido Materno</label>
                        <input type="text" id="a_maternoCliente" class="form-control form-control-sm">
                    </div>

                    <!-- TELEFONO -->
                    <div class="form-group">
                        <label for="telefonoCliente">Telefono</label>
                        <input type="number" name="" id="telefonoCliente" class="form-control form-control-sm">
                    </div>

                    <!-- RFC -->
                    <div class="form-group">
                        <label for="rfcCliente">RFC</label>
                        <input type="text" name="" id="rfcCliente" class="form-control form-control-sm">
                    </div>

                    <!-- LONGITUD/LATITUD -->
                    <div class="form-row mb-2">
                        <div class="col">
                            <label for="longitudUC">Longitud</label>
                            <input type="number" id="longitudUC" class="form-control form-control-sm" name="longitud"
                                (keydown)="mostrarActUbiBtn(true)" [(ngModel)]="longitud">
                        </div>
                        <div class="col">
                            <label for="latitudUC">Latitud</label>
                            <input type="number" id="latitudUC" class="form-control form-control-sm" name="latitude"
                                (keydown)="mostrarActUbiBtn(true)" [(ngModel)]="latitude">
                        </div>
                    </div>
                    <div *ngIf="actUbiBtn" class="form-row mb-4">
                        <div class="col">
                            <button class="btn btn-info btn-block" (click)="actualizarMapa()">Actualizar Mapa</button>
                        </div>
                    </div>

                    <!-- MAPA -->
                    <div class="form-row justify-content-center">
                        <div #map class="mapa" id="map-container-form"></div>
                        <button class="btn btn-info btn-sm mt-3" (click)="tomarUbicacion()">Tomar ubicacion</button>
                    </div>

                    <!-- DOCUMENTOS -->
                    
                    <div class="form-row mt-3">
                        <div class="col">
                            <button class="btn btn-danger btn-block" (click)="generarPDF()">Generar PDF</button>
                        </div>
                    </div>

                    <button class="btn btn-block mt-5 button_enviar font-weight-bold"
                        (click)="modificar()">Modificar</button>
                </form>
            </div>

            <!-- MAP -->
            <div style="display: block;" class="mapa-cl" id="mapa-cl">
                <div class="form-row justify-content-center">
                    <div #map class="mapa" id="map-container-cl"></div>
                </div>
                <p class="text-center font-weight-bold">{{longitud}} : {{latitude}}</p>
            </div>

        </div>
    </div>
</div>