.bg-table, .bg-button-map{
    background-color: #0097a7;
}

.mapa{
    width: 400px;
    height: 300px;
    background-color: gray;
}

.button_enviar{
    background-color: white;
    border-color: #0097a7;
}

.button_enviar:hover{
    background-color: #0097a7;
    color: white;
}